body {
  color: rgba(0, 0, 0, 0.85);
  font: 16px "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  transition: 500ms ease-in-out;
}

body.hide-transitions,
body.hide-transitions * {
  transition: none !important;
}

body.nightmode {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
}

a {
  color: #f3a;
  font-weight: bold;
  transition: color 250ms ease-in-out;
}
a:active,
a:focus,
a:hover {
  color: #3af;
}
a.project {
  display: block;
}

.content {
  margin: 0 auto;
  padding-left: 5px;
  padding-top: 5px;
}

header.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header.header .header-title {
  align-items: center;
  display: flex;
}

h1.name {
  font-size: 300%;
  font-weight: normal;
  letter-spacing: -3px;
  margin: 0;
  margin-left: 0.25em;
}
h1.name span.matt {
  color: #3af;
  transition: color 250ms ease-in-out;
}
h1.name:hover span.matt {
  color: #f3a;
}
h1.name span.fehskens {
  color: rgba(0, 0, 0, 0.52);
  transition: 500ms ease-in color;
}

header label.nightmode-checkbox {
  font-size: 200%;
  margin-left: 0.25em;
  margin-right: 0.25em;
  position: relative;
}

header label.nightmode-checkbox .day {
  display: inline-block;
}

header label.nightmode-checkbox .night {
  display: none;
}

header label.nightmode-checkbox input[type="checkbox"] {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

img.gravatar {
  border-radius: 50%;
  margin-right: 5px;
}

section {
  margin-top: 10px;
}

section > header {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 5px;
  transition: background-color 500ms ease;
}
section > header h2 {
  margin: 0;
  pointer-events: none;
}

aside {
  background-color: rgba(0, 0, 0, 0.25);
  border-left: 0.5em solid rgba(0, 0, 0, 0.5);
  font-style: italic;
  margin: 0.75em;
  padding: 0.75em 0.5em;
}

article {
  margin-bottom: 10px;
}

ul {
  padding-left: 25px;
}
ul > li {
  padding-left: 5px;
}
ul.posts > li {
  padding-left: 0;
}
ul.posts > li > .date {
  margin-left: 0.25rem;
}

article > * {
  letter-spacing: 1px;
}
article > header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 0 0 0.5em;
}
article > header > h2 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin: 0;
  padding-top: 0.5em;
}
article > header > .dateline {
  letter-spacing: 0;
}
article > h3 {
  margin: 0;
}
article > h3 + p {
  margin-top: 0.5em;
}
article > p + h3 {
  margin-top: 1em;
}

body.nightmode {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.75);
}

body.nightmode h1.name span.fehskens {
  color: rgba(255, 255, 255, 0.75);
}

body.nightmode img.gravatar {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.25);
}

body.nightmode section > header {
  background-color: rgba(255, 255, 255, 0.25);
}

body.nightmode header label.nightmode-checkbox .day {
  display: none;
}

body.nightmode header label.nightmode-checkbox .night {
  display: inline-block;
}

body.nightmode article > header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

body.nightmode article > header > h2 {
  color: rgba(255, 255, 255, 0.9);
}

body.nightmode article > h3 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
}

@media (max-width: 599px) {
  .content {
    padding: 1em;
    width: calc(100% - 2em);
  }
}

@media (min-width: 600px) {
  .content {
    max-width: calc(100% - 2em);
    padding: 1em;
    width: calc(800px - 2em);
  }
}

@media (min-width: 1900px) {
  .content {
    max-width: calc(100% - 3em);
    padding: 1em;
    width: calc(1000px - 3em);
  }
}
