body {
    color: rgba(0, 0, 0, 0.85);
    font: 14px "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #f3a;
    font-weight: bold;
}
a.project {
    display: block;
}

article {
    margin-bottom: 10px;
}

.content {
    margin: 0 auto;
    padding-left: 5px;
    padding-top: 5px;
}

header.header {
    align-items: center;
    display: flex;
}

section {
    margin-top: 10px;
}

section > header {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 5px;
}
section > header h2 {
    margin: 0;
}

img.gravatar {
    border-radius: 50%;
    margin-right: 5px;
}

h1.name {
    font-size: 300%;
    font-weight: normal;
    letter-spacing: -3px;
    margin: 0;
}
h1.name span.matt {
    color: #3af;
}
h1.name span.fehskens {
    color: rgba(0, 0, 0, 0.52);
}

@media(max-width: 599px) {
    .content {
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - 30px);
    }
}

@media(min-width: 600px) {
    .content {
        width: 600px;
    }
}