<body class="hide-transitions">
  <div class="content">
    <header class="header">
      <div class="header-title">
        <img alt="It's a picture of me!" class="gravatar"
          src="https://s.gravatar.com/avatar/f2290d7e27c4ca1d49ed5b8393d2fd1c?s=100" />
        <h1 class="name">
          <a href="/" title="fehskens.com home">
            <span class="matt">matt</span>
            <span class="fehskens">fehskens</span>
          </a>
        </h1>
      </div>

      <label aria-label="Toggle night mode" class="nightmode-checkbox">
          <span class="day">🌞</span>
          <span class="night">🌙</span>
          <input id="nightmode" type="checkbox">
      </label>
    </header>
