<!DOCTYPE html>
<html lang="en">

  <head>
    <title>fehskens.com - Blog</title>

    <!-- talc:import:listhead.html -->

      <h2>Posts</h2>

      <ul class="posts">
        <!-- talc:for:files -->
        <li>
          <a href="<!-- talc:filename -->" title="<!-- talc:title -->">
            <!-- talc:title -->
          </a>
          <span class="date">
            <!-- talc:publish_date-->
          </span>
        </li>
        <!-- talc:endfor -->
      </ul>

      <a href="tags.html" title="See posts by tag">See posts by tag</a>
    </div>

    <!-- talc:import:footer.html -->
