<meta name="charset" content="utf8" />
<meta name="description" content="The resume/portfolio site of Matt Fehskens" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:image" content="https://s.gravatar.com/avatar/f2290d7e27c4ca1d49ed5b8393d2fd1c?s=200" />
<meta property="og:title" content="<!-- talc:title -->" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@gonzofish" />
<meta name="twitter:image" content="https://s.gravatar.com/avatar/f2290d7e27c4ca1d49ed5b8393d2fd1c?s=200" />
<meta name="twitter:site" content="@gonzofish" />
