<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      fehskens.com - Blog -
      <!-- talc:title -->
    </title>

    <!-- talc:import:meta.html -->
    <meta name="twitter:title" content="<!-- talc:title -->" />
    <!-- talc:import:styles.html -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css" rel="stylesheet">
    <link href="/styles/dracula.css" rel="stylesheet" />
  </head>

  <!-- talc:import:header.html -->

      <article>
        <header>
          <a href="/blog/index.html" title="fehskens.com blog index">
            &laquo; Back to All Posts
          </a>

          <h2>
            <!-- talc:title -->
          </h2>

          <div class="dateline">
            <!-- talc:publish_date -->
            <!-- talc:import:updatedate.html -->
          </div>
        </header>

        <!-- talc:content -->
      </article>
    </div>

    <!-- talc:import:footer.html -->
