<!DOCTYPE html>
<html lang="en">

  <head>
    <title>fehskens.com - Blog - Entries tagged "<!-- talc:tag -->"</title>

    <!-- talc:import:listhead.html -->

    <section>
      <header>
        <h2>Posts Tagged "<!-- talc:tag -->"</h2>
      </header>

      <ul class="posts">
        <!-- talc:for:files -->
        <li>
          <a href="/blog/<!-- talc:filename -->" title="<!-- talc:title -->">
            <!-- talc:title -->
          </a>
          <span class="date">
            <!-- talc:publish_date-->
            <!-- talc:import:updatedate.html -->
          </span>
        </li>
        <!-- talc:endfor -->
      </ul>
    </section>

    <aside>
      &laquo; <a href="/blog/tags.html" title="See posts by tag">Back to all tags</a><br>
      &laquo; <a href="/blog/index.html" title="Back to all posts">Back to all posts</a>
    </aside>
  </div>

  <!-- talc:import:footer.html -->
